Package            Version
------------------ ---------
certifi            2021.10.8
charset-normalizer 2.0.11
DateTime           4.3
gpxpy              1.5.0
idna               3.3
numpy              1.22.2
pandas             1.4.0
pip                21.2.4
python-dateutil    2.8.2
pytz               2021.3
requests           2.27.1
setuptools         58.0.4
six                1.16.0
urllib3            1.26.8
wheel              0.37.1
zope.interface     5.4.0
